div {
    margin: 10px;
    background-color: cornflowerblue;
}

.blue {
    color: blue;
}

.blue {
    color: yellow;
}

h1c{
    color: red;
}
#heading {
    color: green;
}
.purple {
    color: purple;
}
span {
    font-weight: bold;
    color: black;
}
input[required] {
    border: 2px solid black;
    margin: 2px;
}

input:focus {
    border-color: yellow;
}
input:hover {
    border-color: white;
}


/* Backened luo artikkeleja luokkamäärityksillä, joissa aina sana article. Case-insesitiivinen (i).*/
[class^='article' i] {
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}